In [1]:
import pandas as pd

In [2]:
reviews_df = pd.read_csv('reviews.csv')
playbill_df = pd.read_csv('playbill.csv')

In [3]:
showavg = playbill_df.groupby('show_title').mean()

### Top Shows

In [4]:
showavg.sort_values(by='week_gross', ascending=False).head(10)

,year,week_gross,avg_ticket,top_ticket,seats_sold,seats_in_theater,num_performances,capacity_filled
show_title,,,,,,,,
Hamilton,2018.827586,2.503591e+06,235.861092,628.920115,10598.790230,1322.129310,7.890805,100.641494
Springsteen On Broadway,2017.769231,2.174211e+06,505.900577,505.900577,4299.711538,947.538462,4.403846,99.990192
Morrissey,2019.000000,1.881374e+06,186.550000,397.000000,10085.000000,1495.000000,7.000000,96.370000
El Mago Pop,2023.000000,1.670913e+06,164.895000,317.500000,9054.000000,1018.000000,7.000000,91.970000
Wicked,2012.677116,1.615596e+06,113.326604,265.511118,14206.442006,1827.692790,7.986416,96.970961
To Kill A Mockingbird,2019.395349,1.604342e+06,143.858488,423.299651,11031.686047,1435.116279,7.244186,98.837442
Jonas Brothers,2023.000000,1.556128e+06,192.350000,192.350000,8090.000000,1618.000000,5.000000,100.000000
Harry Potter and the Cursed Child,2020.465000,1.548985e+06,127.706000,290.034950,12115.530000,1615.765000,7.600000,95.045550
Dave Chappelle Live on Broadway,2019.000000,1.534756e+06,212.435000,748.000000,6706.500000,1504.000000,5.000000,98.905000
MJ The Musical,2022.397849,1.518801e+06,144.851720,230.610645,10380.505376,1390.774194,7.365591,95.821398

In [5]:
showavg.sort_values(by='avg_ticket', ascending=False).head(10)

,year,week_gross,avg_ticket,top_ticket,seats_sold,seats_in_theater,num_performances,capacity_filled
show_title,,,,,,,,
Springsteen On Broadway,2017.769231,2.174211e+06,505.900577,505.900577,4299.711538,947.538462,4.403846,99.990192
Hamilton,2018.827586,2.503591e+06,235.861092,628.920115,10598.790230,1322.129310,7.890805,100.641494
Merrily We Roll Along,2023.000000,1.304508e+06,225.070000,499.000000,5796.000000,966.000000,0.000000,100.000000
Dave Chappelle Live on Broadway,2019.000000,1.534756e+06,212.435000,748.000000,6706.500000,1504.000000,5.000000,98.905000
Plaza Suite,2022.000000,1.442842e+06,207.258500,499.812000,6988.150000,975.000000,5.500000,98.563500
Mel Brooks on Broadway,2019.000000,5.831400e+05,196.540000,297.000000,2967.000000,1495.000000,2.000000,99.230000
Jonas Brothers,2023.000000,1.556128e+06,192.350000,192.350000,8090.000000,1618.000000,5.000000,100.000000
Morrissey,2019.000000,1.881374e+06,186.550000,397.000000,10085.000000,1495.000000,7.000000,96.370000
Funny Girl,2022.473684,1.437020e+06,164.931053,164.931053,8579.855263,1219.000000,7.486842,89.477105
El Mago Pop,2023.000000,1.670913e+06,164.895000,317.500000,9054.000000,1018.000000,7.000000,91.970000

In [6]:
showavg.sort_values(by='top_ticket', ascending=False).head(10)

,year,week_gross,avg_ticket,top_ticket,seats_sold,seats_in_theater,num_performances,capacity_filled
show_title,,,,,,,,
Dave Chappelle Live on Broadway,2019.000000,1.534756e+06,212.435000,748.000000,6706.500000,1504.000000,5.000000,98.905000
Manilow on Broadway,2013.000000,6.934527e+05,120.978333,700.000000,5905.333333,1631.000000,4.166667,81.261667
Hamilton,2018.827586,2.503591e+06,235.861092,628.920115,10598.790230,1322.129310,7.890805,100.641494
"Hello, Dolly!",2013.586957,1.463680e+06,136.851087,510.663043,10390.565217,1441.391304,7.239130,93.490761
Springsteen On Broadway,2017.769231,2.174211e+06,505.900577,505.900577,4299.711538,947.538462,4.403846,99.990192
Plaza Suite,2022.000000,1.442842e+06,207.258500,499.812000,6988.150000,975.000000,5.500000,98.563500
Merrily We Roll Along,2023.000000,1.304508e+06,225.070000,499.000000,5796.000000,966.000000,0.000000,100.000000
Kristin Chenoweth: For The Girls,2019.000000,9.698940e+05,101.200000,473.000000,9584.000000,1198.000000,8.000000,100.000000
Manilow Broadway,2019.000000,8.665122e+05,160.665000,447.000000,5411.750000,1504.000000,4.250000,84.402500
Fish in the Dark,2015.000000,1.063573e+06,126.188462,444.615385,8393.884615,1073.000000,6.653846,98.758077

### Bottom Shows

In [7]:
showavg.sort_values(by='week_gross').head(10)

,year,week_gross,avg_ticket,top_ticket,seats_sold,seats_in_theater,num_performances,capacity_filled
show_title,,,,,,,,
A Mom's Life,1998.000000,3874.333333,25.556667,40.000000,148.000000,1004.0,1.000000,14.743333
Senator Joe,1989.000000,5661.000000,12.040000,12.040000,470.000000,1334.0,0.000000,11.740000
"Mummenschanz: ""The New Show""",1986.000000,10000.000000,8.330000,8.330000,1200.000000,499.0,8.000000,30.060000
Marc Salem's Mind Games on Broadway,2004.000000,11995.708333,42.980833,56.263750,286.083333,712.0,1.250000,36.144583
So Long on Lonely Street,1986.000000,14957.375000,11.805000,11.805000,1414.125000,499.0,6.625000,37.698750
A Change in the Heir,1990.000000,17151.400000,10.162000,10.162000,1609.000000,499.0,4.600000,41.698000
Stand-Up Tragedy,1990.000000,18581.500000,19.065000,19.065000,1064.500000,499.0,3.250000,35.345000
Oh Coward!,1986.111111,20555.555556,11.418889,11.418889,1800.000000,499.0,6.222222,45.090000
As Long as We Both Shall Laugh,2003.000000,23605.500000,24.347857,65.000000,1018.357143,740.0,1.071429,79.676429
Sid Caesar & Company,1989.000000,24479.000000,20.390000,20.390000,1227.500000,805.0,2.500000,27.205000

In [8]:
showavg.sort_values(by='avg_ticket').head(10)

,year,week_gross,avg_ticket,top_ticket,seats_sold,seats_in_theater,num_performances,capacity_filled
show_title,,,,,,,,
"Mummenschanz: ""The New Show""",1986.000000,10000.000000,8.330000,8.330000,1200.000000,499.0,8.000000,30.060000
Mort Sahl on Broadway!,1987.000000,48203.750000,8.825000,8.825000,5582.250000,1336.0,6.500000,56.155000
The Cemetery Club,1990.000000,42441.000000,9.707500,9.707500,4654.000000,1090.0,6.000000,53.372500
Danny Gans on Broadway: The Man of Many Voices,1995.000000,42181.000000,10.110000,40.000000,4135.500000,1346.0,3.000000,36.045000
A Change in the Heir,1990.000000,17151.400000,10.162000,10.162000,1609.000000,499.0,4.600000,41.698000
Miss Margarida's Way,1990.000000,29349.333333,10.510000,10.510000,2766.666667,565.0,3.666667,77.413333
Our Country's Good,1991.000000,64134.125000,11.336250,11.336250,5620.625000,1160.0,6.000000,64.938750
Late Nite Comic,1987.000000,32552.333333,11.363333,11.363333,2818.666667,898.0,1.333333,51.180000
Oh Coward!,1986.111111,20555.555556,11.418889,11.418889,1800.000000,499.0,6.222222,45.090000
Comedy Tonight,1994.000000,67257.000000,11.430000,11.430000,5990.500000,737.0,4.500000,121.025000

In [9]:
showavg.sort_values(by='top_ticket')

,year,week_gross,avg_ticket,top_ticket,seats_sold,seats_in_theater,num_performances,capacity_filled
show_title,,,,,,,,
"Mummenschanz: ""The New Show""",1986.000000,1.000000e+04,8.330000,8.330000,1200.000000,499.000000,8.000000,30.060000
Mort Sahl on Broadway!,1987.000000,4.820375e+04,8.825000,8.825000,5582.250000,1336.000000,6.500000,56.155000
The Cemetery Club,1990.000000,4.244100e+04,9.707500,9.707500,4654.000000,1090.000000,6.000000,53.372500
A Change in the Heir,1990.000000,1.715140e+04,10.162000,10.162000,1609.000000,499.000000,4.600000,41.698000
Miss Margarida's Way,1990.000000,2.934933e+04,10.510000,10.510000,2766.666667,565.000000,3.666667,77.413333
...,...,...,...,...,...,...,...,...
Springsteen On Broadway,2017.769231,2.174211e+06,505.900577,505.900577,4299.711538,947.538462,4.403846,99.990192
"Hello, Dolly!",2013.586957,1.463680e+06,136.851087,510.663043,10390.565217,1441.391304,7.239130,93.490761
Hamilton,2018.827586,2.503591e+06,235.861092,628.920115,10598.790230,1322.129310,7.890805,100.641494
Manilow on Broadway,2013.000000,6.934527e+05,120.978333,700.000000,5905.333333,1631.000000,4.166667,81.261667
Dave Chappelle Live on Broadway,2019.000000,1.534756e+06,212.435000,748.000000,6706.500000,1504.000000,5.000000,98.905000

## Setting up for sentiment analysis

In [10]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.base import TransformerMixin
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
import spacy
from spacy.lang.en.stop_words import STOP_WORDS
from spacytextblob.spacytextblob import SpacyTextBlob

In [11]:
nlp = spacy.load("en_core_web_sm")
nlp.add_pipe('spacytextblob')

In [28]:
def get_sentiment(text):
    doc = nlp(text)
    polarity = doc._.blob.polarity
    return polarity

In [29]:
reviews_df['polarity'] = reviews_df['body'].apply(get_sentiment)

In [30]:
max(reviews_df.polarity)

0.3089814814814816

In [31]:
min(reviews_df.polarity)

-0.07319566634082762

I'm curious to see how much of an affect removing the stopwords will have on the polarity score and was pleasantly surprised!

In [32]:
def remove_stopwords(text):
    doc = nlp(text)
    tokens = [token.text for token in doc if not token.is_stop]
    return ' '.join(tokens)

In [33]:
reviews_df['cleaned_text'] = reviews_df['body'].apply(remove_stopwords)

In [34]:
reviews_df['new_polarity'] = reviews_df['cleaned_text'].apply(get_sentiment)

In [35]:
max(reviews_df.new_polarity)

0.37274774774774777

In [36]:
min(reviews_df.new_polarity)

-0.10303030303030303